<header class="header" id="site-header">
    <div class="header-container container">
        <button type="button" class="menu-button" aria-label="menu toggle">
            <span class="icon">
                <svg class="header-svg" width="28" height="28">
                    <use href="/img/sprite.svg#icon-burger"></use>
                </svg>
            </span>
        </button>

        <nav class="nav ">
            <ul class="navigation-list">
                <li class="navigation-item">
                    <a class="links" href="index.html#Home">Home</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="index.html#Enter">Enter the Workshop of Wonders</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="index.html#What">What Makes the Minter Tick</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="index.html#Minted">Minted for Everyone</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="index.html#Demo">Try the Mint Without Cost</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="index.html#Gold">Gold Meets Performance</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="index.html#Lore">Lore Behind the Mint</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- Mobile menu -->
<div id="modalWindow" class="modal">
    <ul class="menu-list">
        <li><a class="menu-list-item" href="index.html#Home">Home</a></li>
        <li><a class="menu-list-item" href="index.html#Enter">Enter the Workshop of Wonders</a></li>
        <li>
            <a class="menu-list-item" href="index.html#What">What Makes the Minter Tick</a>
        </li>
        <li><a class="menu-list-item" href="index.html#Minted">Minted for Everyone</a></li>
        <li><a class="menu-list-item" href="index.html#Demo">Try the Mint Without Cost</a></li>
        <li><a class="menu-list-item" href="index.html#Gold">Gold Meets Performance</a></li>
        <li><a class="menu-list-item" href="index.html#Lore">Lore Behind the Mint</a></li>
    </ul>
</div>