<!-- hero -->
 <section class="hero-section" id="Home">
  <div class="container hero-container">
    <h1 class="visually-hidden">Money Minter</h1>
    <picture>
      <source srcset="
      /img/hero/logo-desk.png  1x,
      /img/hero/logo-desk@2x.png 2x
           " media="(min-width: 1439px)" />
      <source srcset="
      /img/hero/logo-mob.png  1x,
      /img/hero/logo-mob@2x.png 2x
           " media="(max-width: 1438px)" />
      <img class="hero-logo" src="/img/hero/logo-mob.png" alt="Logo" loading="lazy" />
  </picture>
  <picture>
    <source srcset="
    /img/hero/img-desk.png  1x,
    /img/hero/img-desk.@2x.png 2x
         " media="(min-width: 1439px)" />
    <source srcset="
    /img/hero/img-mob.png  1x,
    /img/hero/img-mob@2x.png 2x
         " media="(max-width: 1438px)" />
    <img class="hero-text" src="/img/hero/img-mob.png" alt="title" loading="lazy" />
</picture>

  <a class="hero-button" href="index.html#Demo">
  <img class="hero-img-button pulse" src="/img/hero/buton-hero.png" srcset="/img/hero/buton-hero.png 1x, /img/hero/buton-hero@2x.png 2x"
   alt="Button" loading="lazy" />
  </a>
  <img class="coin-hero-img" src="/img/hero/coin.png" alt="Coins"/>
  </div>
 </section>
 <!--Workshop-->
 <section class="workshop-section" id="Enter">
  <div class="container">
    <h2 class="subtitle-workshop">
      Enter the Workshop of Wonders
     </h2>
     <div class="workshop-container">
     <h3 class="subtitle-coins">
      Where Coins Are Born from Magic
     </h3>
     <p class="text-coins">
      In Money Minter, you don’t just win—you create value.<br/>
      Step into a fantasy minting workshop filled with enchanted contraptions, golden mechanisms, and ancient spells. Spin the reels to power machines, mint magical coins, and watch your wealth manifest from the arcane and the mechanical.<br/>
       Perfect for dreamers who love gold, charm, and creative gameplay
     </p>
    </div>
     <picture>
      <source srcset="
      /img/workshop/img-coin.png  1x,
      /img/workshop/img-coin.png 2x
           " media="(min-width: 1439px)" />
      <source srcset="
      /img/workshop/img-coin-mob.png 1x,
      /img/workshop/img-coin-mob@2x.png 2x
           " media="(max-width: 1438px)" />
      <img class="workshop-img" src="/img/workshop/img-coin-mob.png" alt="Logo" loading="lazy" />
  </picture>
  </div>
 </section>
<!-- What Makes the Minter Tick -->
 <section class="minter-section" id="What">
  <div class="container">
<h2  class="minter-title">
  What Makes the Minter Tick
</h2>
<h3 class="minter-subtitle">
  Features Forged in Gold
</h3>
<ul class="minter-list">
  <li class="minter-item">
    <picture>
      <source srcset="
      /img/minter/img-coin-desk.png  1x,
      /img/minter/img-coin-desk@2x.png 2x
           " media="(min-width: 1439px)" />
      <source srcset="
      /img/minter/img-coin-mob.png  1x,
      /img/minter/img-coin-mob@2x.png 2x
           " media="(max-width: 1438px)" />
      <img class="minter-img" src="/img/minter/img-coin-mob.png" alt="Features" loading="lazy" />
  </picture>
  <div class="minter-container">
    <p class="first-minter-text">
      Gear Wilds:
    </p>
    <p class="second-minter-text">
      Trigger golden gear symbols that multiply line wins.
    </p>
  </div>
  </li>
  <li class="minter-item">
    <picture>
      <source srcset="
      /img/minter/img-gold-desk.png  1x,
      /img/minter/img-gold-desk@2x.png 2x
           " media="(min-width: 1439px)" />
      <source srcset="
      /img/minter/img-gold-mob .png  1x,
      /img/minter/img-gold-mob@2x.png 2x
           " media="(max-width: 1438px)" />
      <img class="minter-img" src="/img/minter/img-gold-mob .png" alt="Features" loading="lazy" />
  </picture>
  <div class="minter-container">
    <p class="first-minter-text">
      Mint Bonus Wheel:
    </p>
    <p class="second-minter-text">
      Spin the mechanical wheel to win free coins or magic boosts.
    </p>
  </div>
  </li>
  <li class="minter-item">
    <picture>
      <source srcset="
      /img/minter/img-moneybag-desk.png  1x,
      /img/minter/img-moneybag-desk@2x.png 2x
           " media="(min-width: 1439px)" />
      <source srcset="
      /img/minter/img-moneybag-mob .png  1x,
      /img/minter/img-moneybag-mob@2x.png 2x
           " media="(max-width: 1438px)" />
      <img class="minter-img" src="/img/minter/img-moneybag-mob .png" alt="Features" loading="lazy" />
  </picture>
  <div class="minter-container">
    <p class="first-minter-text">
      Mystery Chest Symbols:
    </p>
    <p class="second-minter-text">
      Collect random chests filled with surprise rewards.
    </p>
  </div>
  </li>
  <li class="minter-item">
    <picture>
      <source srcset="
      /img/minter/imgwild-desk.png  1x,
      /img/minter/img-wild-desk@2x.png 2x
           " media="(min-width: 1439px)" />
      <source srcset="
      /img/minter/img-wild-mob .png  1x,
      /img/minter/img-wild-mob@2x.png 2x
           " media="(max-width: 1438px)" />
      <img class="minter-img" src="/img/minter/img-wild-mob .png" alt="Features" loading="lazy" />
  </picture>
  <div class="minter-container">
    <p class="first-minter-text">
      Free Spins Round:
    </p>
    <p class="second-minter-text">
      Unlock the full workshop mode for boosted payouts.
    </p>
  </div>
  </li>
</ul>
  </div>
 </section>
<!-- Minted for Everyone -->
 <section class="everyone-section" id="Minted">
  <div class="container">
    <h2 class="everyone-title">Minted for Everyone</h2>
    <h3 class="everyone-subtitle">A Game That Feels Like Magic</h3>
    <p class="everyone-text">Whether you’re a casual spinner or a strategy-focused fortune maker, Money Minter is designed to be instantly fun and
    satisfyingly complex.<br/> With responsive spins, polished visuals, and a stress-free learning curve, it creates a unique
    loop: play, enjoy, collect, repeat.<br /> The gold feels real, the wins feel personal.</p>
    <picture>
      <source srcset="
      /img/everyone/slotmachine-desk.png  1x,
          /img/everyone/slotmachine-desk@2x.png 2x
               " media="(min-width: 1439px)" />
      <source srcset="
      /img/everyone/slotmachine-mob.png 1x,
          /img/everyone/slotmachine-mob@2x.png 2x
               " media="(max-width: 1438px)" />
      <img class="everyone-img" src="/img/everyone/slotmachine-mob.png" alt="Slotmachine" loading="lazy" />
    </picture>
  </div>
 </section>
 <!-- Try the Mint Without Cost -->
  <section class="demo-section" id="Demo">
    <div class="container demo-container">
      <h2 class="demo-title">Try the Mint Without Cost</h2>
      <h3 class="demo-subtitle">Test Your Craft for Free</h3>
      <p class="demo-text">No need to risk your own treasure—play the free demo and explore the full power of the minting forge.<br/> Discover how the
      mechanics work, learn the spin patterns, and forge your strategy before the real heat begins.</p>
         <a class="demo-btn" href="#" data-game-url="https://demo.evoplay.games/demo/fullstate/html5/evoplay/journeytothewest"
          target="gameIframe" onclick="showIframe(event)">
            <picture>
              <source srcset="
              /img/demo/play-btn-desk.png 1x,
              /img/demo/play-btn-desk@2x.png 2x
                                   " media="(min-width: 1439px)" />
              <source srcset="
              /img/demo/play-btn-mob.png 1x,
              /img/demo/play-btn-mob@2x.png 2x
                                   " media="(max-width: 1438px)" />
              <img class="demo-img" src="/img/demo/play-btn-mob.png" alt="Play Free" loading="lazy" />
              </picture>
        </a>

  <div class="ifram-wrapper">
  <iframe id="gameIframe" style="display: none; width: 100%; height: 600px; border: none; margin-top: 20px;"></iframe>
        
  <button id="closeIframeBtn" aria-label="Close" class="hidden-close-btn">
   <svg class="icon-svg" width="32" height="32">
    <use href="/img/sprite.svg#icon-cross"></use>
    </svg>        
  </button>
</div>
<img class="play-demo-img" src="/img/demo/play-mob.png" srcset="/img/demo/play-mob.png 1x, /img/demo/play-mob.png2x"
  alt="Play" loading="lazy" />
    </div>
  </section>
  <!-- Gold Meets Performance -->
   <section class="gold-section" id="Gold">
    <div class="container">
      <h2 class="gold-title">Gold Meets Performance</h2>
      <h3 class="gols-subtitle">Optimized for Every Apprentice</h3>
      <p class="gold-text">Every spell and spin in Money Minter runs smooth as polished brass. <br class="desk"/> Designed for desktop and mobile, the game
      auto-adjusts to fit your screen and runs flawlessly on low and high-end devices alike.</p>
      <p class="gold-text-list">Performance Details:</p>
      <ul class="gold-list">
        <li>Ultra-fast loading speed</li>
        <li>Battery-efficient animations</li>
        <li>Web-based: no install required</li>
      </ul>
      <p class="gold-last-text">Cross-device compatibility</p>
      <picture>
        <source srcset="
        /img/coin/coin-desk.png 1x,
              /img/coin/coin-desk@2x.png 2x
                                   " media="(min-width: 1439px)" />
        <source srcset="
        /img/coin/coin-mob.png 1x,
              /img/coin/coin-mob@2x.png 2x
                                   " media="(max-width: 1438px)" />
        <img class="gold-img" src="/img/coin/coin-mob.png" alt="Coin" loading="lazy" />
      </picture>
      <span style="display: none;">Generated:2025-05-20, Hash:bhdf255</span>
    </div>
   </section>
   <!-- Lore Behind the Mint -->
   <article class="lore-section" id="Lore">
    <div class="container">
      <h2 class="lore-title">Lore Behind the Mint</h2>
      <h3 class="lore-subtitle">Ancient Magic Meets Modern Craft</h3>
      <p class="lore-text">Every spell and spin in Money Minter runs smooth as polished brass. Designed for desktop and mobile, the game
      auto-adjusts to fit your screen and runs flawlessly on low and high-end devices alike.</p>
    </div>
   </article>
   <!-- Disclaimer -->
    <section class="disclaimer-section">
      <div class="container disclaimer-container">
        <h2 class="disclaimer-title">Disclaimer</h2>
        <p class="disclaimer-text">MAGICFANTASYQUEST.COM IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF WINNING PLAYING THIS APP CANNOT BE CONSIDERED
        THE SAME AS WINNING IN REAL LIFE GAMES. APP IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY PLAYING THIS
        FREE APP!</p>
      </div>
    </section>