<!-- hero -->
 <section class="hero-section">
  <div class="container">
    <h1 class="visually-hidden">Money Minter</h1>
    <picture>
      <source srcset="
      /img/hero/logo-desk.png  1x,
      /img/hero/logo-desk@2x.png 2x
           " media="(min-width: 1439px)" />
      <source srcset="
      /img/hero/logo-mob.png  1x,
      /img/hero/logo-mob@2x.png 2x
           " media="(max-width: 1438px)" />
      <img class="hero-logo" src="/img/hero/logo-mob.png" alt="Logo" loading="lazy" />
  </picture>
  <picture>
    <source srcset="
    /img/hero/img-desk.png  1x,
    /img/hero/img-desk.@2x.png 2x
         " media="(min-width: 1439px)" />
    <source srcset="
    /img/hero/img-mob.png  1x,
    /img/hero/img-mob@2x.png 2x
         " media="(max-width: 1438px)" />
    <img class="hero-text" src="/img/hero/img-mob.png" alt="title" loading="lazy" />
</picture>

  <a class="hero-button" href="index.html#Free">
  <img class="hero-img-button" src="/img/hero/buton-hero.png" srcset="/img/hero/buton-hero.png 1x, /img/hero/buton-hero@2x.png 2x"
                    alt="Button" loading="lazy" />
                  </a>
  </div>
 </section>
 <!--Workshop-->
 <section class="workshop-section">
  <div class="container">
    <h2 class="subtitle-workshop">
      Enter the Workshop of Wonders
     </h2>
     <div class="workshop-container">
     <h3 class="subtitle-coins">
      Where Coins Are Born from Magic
     </h3>
     <p class="text-coins">
      In Money Minter, you don’t just win—you create value.<br/>
      Step into a fantasy minting workshop filled with enchanted contraptions, golden mechanisms, and ancient spells. Spin the reels to power machines, mint magical coins, and watch your wealth manifest from the arcane and the mechanical.<br/>
       Perfect for dreamers who love gold, charm, and creative gameplay
     </p>
    </div>
     <picture>
      <source srcset="
      /img/workshop/img-coin.png  1x,
      /img/workshop/img-coin.png 2x
           " media="(min-width: 1439px)" />
      <source srcset="
      /img/workshop/img-coin-mob.png 1x,
      /img/workshop/img-coin-mob@2x.png 2x
           " media="(max-width: 1438px)" />
      <img class="workshop-img" src="/img/workshop/img-coin-mob.png" alt="Logo" loading="lazy" />
  </picture>
  </div>
 </section>
<!-- What Makes the Minter Tick -->
 <section class="minter-section">
  <div class="container">
<h2  class="minter-title">
  What Makes the Minter Tick
</h2>
<h3 class="minter-subtitle">
  Features Forged in Gold
</h3>
<ul class="minter-list">
  <li class="minter-item">
    <picture>
      <source srcset="
      /img/minter/img-coin-desk.png  1x,
      /img/minter/img-coin-desk@2x.png 2x
           " media="(min-width: 1439px)" />
      <source srcset="
      /img/minter/img-coin-mob.png  1x,
      /img/minter/img-coin-mob@2x.png 2x
           " media="(max-width: 1438px)" />
      <img class="minter-img" src="/img/minter/img-coin-mob.png" alt="Features" loading="lazy" />
  </picture>
  <div class="minter-container">
    <p class="first-minter-text">
      Gear Wilds:
    </p>
    <p class="second-minter-text">
      Trigger golden gear symbols that multiply line wins.
    </p>
  </div>
  </li>
  <li class="minter-item">
    <picture>
      <source srcset="
      /img/minter/img-gold-desk.png  1x,
      /img/minter/img-gold-desk@2x.png 2x
           " media="(min-width: 1439px)" />
      <source srcset="
      /img/minter/img-gold-mob .png  1x,
      /img/minter/img-gold-mob@2x.png 2x
           " media="(max-width: 1438px)" />
      <img class="minter-img" src="/img/minter/img-gold-mob .png" alt="Features" loading="lazy" />
  </picture>
  <div class="minter-container">
    <p class="first-minter-text">
      Mint Bonus Wheel:
    </p>
    <p class="second-minter-text">
      Spin the mechanical wheel to win free coins or magic boosts.
    </p>
  </div>
  </li>
  <li class="minter-item">
    <picture>
      <source srcset="
      /img/minter/img-moneybag-desk.png  1x,
      /img/minter/img-moneybag-desk@2x.png 2x
           " media="(min-width: 1439px)" />
      <source srcset="
      /img/minter/img-moneybag-mob .png  1x,
      /img/minter/img-moneybag-mob@2x.png 2x
           " media="(max-width: 1438px)" />
      <img class="minter-img" src="/img/minter/img-moneybag-mob .png" alt="Features" loading="lazy" />
  </picture>
  <div class="minter-container">
    <p class="first-minter-text">
      Mystery Chest Symbols:
    </p>
    <p class="second-minter-text">
      Collect random chests filled with surprise rewards.
    </p>
  </div>
  </li>
  <li class="minter-item">
    <picture>
      <source srcset="
      /img/minter/imgwild-desk.png  1x,
      /img/minter/img-wild-desk@2x.png 2x
           " media="(min-width: 1439px)" />
      <source srcset="
      /img/minter/img-wild-mob .png  1x,
      /img/minter/img-wild-mob@2x.png 2x
           " media="(max-width: 1438px)" />
      <img class="minter-img" src="/img/minter/img-wild-mob .png" alt="Features" loading="lazy" />
  </picture>
  <div class="minter-container">
    <p class="first-minter-text">
      Free Spins Round:
    </p>
    <p class="second-minter-text">
      Unlock the full workshop mode for boosted payouts.
    </p>
  </div>
  </li>
</ul>
  </div>
 </section>
